# Copyright (c) 2026 Innovaforce
# SPDX-License-Identifier: Apache-2.0

config BOARD_ANCLA_ESP32S3
	select SOC_ESP32S3_WROOM_N8R2
	select SOC_ESP32S3_PROCPU if BOARD_ANCLA_ESP32S3_ESP32S3_PROCPU
	select SOC_ESP32S3_APPCPU if BOARD_ANCLA_ESP32S3_ESP32S3_APPCPU
